body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { 
	font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
}

body{
	background: #ebebeb;
}
.main-navigation {
	text-align: center;
	background: #ffffff;
	border-top: 1px solid #ebebeb;
	margin-bottom: 35px;
	border-bottom: 2px solid #e1e1e1;
}

.audio-center{
	position: relative;
	width: 460px;
	top: 100%;
	left: 50%;
	margin-top: -60px;
	margin-left: -230px;
}

.thumbnail a > img{
	height: 345px;
}

.lsn-login{
	position: relative;
	width: 45px;
	left:97%;
	margin-top: -200px; 
}

a:hover{
	text-decoration: none;
}