<form ng-controller="systemSubmitCtrl" ng-submit="systemSubmit()" class="form-horizontal" name="system" method="post">

	<div class="form-group">
		<label for="systemType" class="col-sm-2 control-label">系统类型</label>
		<div class="col-sm-4">
			<select 
			id="systemType" 
			ng-model="selectedType" 
			class="form-control" 
			ng-options="item for item in systemType" 
			required>

			</select>
		</div>

		<label for="systemName" class="col-sm-2 control-label">系统全名</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="systemName" required>
		</div>
	</div>

	<div class="form-group">

		<label for="systemBelong" class="col-sm-2 control-label">所属类别</label>
		<div class="col-sm-4">
			<select 
			id="systemBelong" 
			class="form-control" 
			ng-model="selectedBelong" 
			ng-options="item for item in systemBelong" 
			required>

			</select>
		</div>

		<label for="systemKernel" class="col-sm-2 control-label">系统内核</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="systemKernel" required>
		</div>
	</div>



	<div class="form-group">
		<label for="systemIntro" class="col-sm-2 control-label">系统简介</label>
		
		<div class="col-sm-10">
			<textarea id="systemIntro" class="form-control" rows="3"></textarea>
		</div>

	</div>

	<div class="form-group">

		<label for="officialLink" class="col-sm-2 control-label">官网链接</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="officialLink" required>
		</div>
	</div>

	<div class="form-group">
		<input type="submit" class="btn btn-primary" value="提交" ng-disabled="system.$invalid">
	</div>

</form>