
.content{
	margin: 0 auto;
	width: 83%;
}

.list{
	width: 75%;
	margin:5px 5px 10px 10px;
	display: inline-block;
	vertical-align:top;
}

.list-view {
	margin:15px 5px 15px 15px;
}

.piece{
	padding:10px 30px 10px 30px;
}

.piece-title{
	min-height: 30px;

	text-align:center;
}

.piece-info{
	min-height: 30px;
	margin-top: 20px;
	text-align: center;
}

.piece-author{
	display: inline;
	margin:0 auto;
	padding: 0;
}

.piece-time{
	display: inline;
	margin:0 auto;
	padding: 0;
}

.piece-content{
	min-height: 30px;
}

#article-brief{
	font-size: 18px;
	text-indent:2em;
	line-height: 2.0;
}

.piece-btn{
	text-align: right;
	margin-right: 5px;
}

.item a:hover{
	text-decoration: none;
	color: #4876FF;
}

li a:hover{
	text-decoration: none;
	color: #4876FF;
}

.side-column{
	width: 20%;
	margin: 5px 5px 10px 10px;
	display: inline-block;
	position: relative;
	left: 40px;

}

.contact-me{
	width: 100%;
	display: inline-block;
	vertical-align:top;
}

.item{
	display: inline-block;

}

.item{
	text-align: center;
}

.item h6{
	text-align: center;
}


.article-classify{
	width: 100%;
	display: block;
	margin-top:20px;
}

.items li{
	list-style: none;
}