.main{
	-webkit-column-count: 4;
	-moz-column-count: 4;
	-o-column-count: 4;
	-ms-column-count:  4;
	column-count: 4;

	-webkit-column-break-inside:avoid;
	-moz-column-break-inside:avoid;
	-o-column-break-inside:avoid;
	-ms--column-break-inside:avoid;

	column-break-inside:avoid;
}

.box,
.detail-box{
	padding:10px 0 0 15px;
	display: block;
}

.pic{
	padding:10px;
	border:1px solid #ccc;
	border-radius:5px;
	width: 302px;
	height: auto;
	box-shadow: 0 0 5px #ccc;
}

.pic img{
	width: 280px;
}

.detail-box a:hover img{
	-webkit-transform:scale(1.2,1.2);
	-moz-transform:scale(1.2,1.2);
	-o-transform:scale(1.2,1.2);
	-ms-transform:scale(1.2,1.2);
	transform:scale(1.2,1.2);
}