html{
	height: 100%;
	width: 100%;
}

body{
	height: 100%;
	width: 100%;
}

 .lsn-navbar { 
 	border-radius:0; 
 }

 #lsn-title {
 	width: 75%;
 	height: 70px;
 	margin:0 auto;
 }

 .back-main{
 	height: 100%;
 }

 .back-center{
 	height: 86%;
 	background-image: url(/static/img/bgi.jpg);
	background-color: #f4f4f4; 
	background-position: left top; 
	background-size: cover; 
	background-repeat: no-repeat; 
	background-attachment: fixed;

	/*  源自知乎的div垂直居中方法 */
	display:flex;/*Flex布局*/
	display: -webkit-flex; /* Safari */
	align-items:center;/*指定垂直居中*/
 }

 textarea {
	resize: none;
}

 #lsn-title input {
 	/*宽度参考editormd的宽度*/
 	width: 90%;
 	/*水平居中*/
 	text-align: center;
 	margin:0 auto;
 	font-size: 1.8em;
 	height: 50px;
 	display:block;
 	border: 0;
 	/*去除点击后的边框*/
 	box-shadow: none;
 	outline: none;
 	border-bottom:1px solid black;
     background: #ffffff;
 }

 #lsn-info{
 	width:90%;
 	text-align: center;
 	margin:0 auto;
 }

#lsn-confirm input{
 	float:right;
}